{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sponsor/create_campaign.css')
}}"
/>
{% endblock %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('sponsor.dashboard') }}">Sponsor Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sponsor.dashboard') }}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sponsor.campaigns') }}">View Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sponsor.completed_campaigns') }}">Completed Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sponsor.create') }}">Create Campaign</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sponsor.browse_influencers', campaign_id=1) }}">Browse Influencers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sponsor.edit_profile', user_id=current_user.id) }}">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<form method="post">
  <h2>Campaign Form</h2>

  <div class="form-field-wrapper">
    <label for="c_name">Campaign Name</label>
    <input type="text" id="c_name" name="c_name" />
  </div>

  <div class="form-field-wrapper">
    <label for="c_desc">Campaign Description</label>
    <input type="text" id="c_desc" name="c_desc" />
  </div>

  <div class="form-field-wrapper">
    <label for="budget">Campaign Budget</label>
    <input type="number" id="budget" name="budget" />
  </div>

  <div class="form-field-wrapper">
    <label for="c_visibility">Campaign Visibility</label>
    <select id="c_visibility" name="c_visibility">
      <option selected value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
  </div>

  <div id="niche-container" class="hidden">
    <label for="c_niche">Campaign Niche</label>
    <select id="c_niche" name="c_niche">
      <option hidden selected value="All">All</option>
      <option value="Food ">Food</option>
      <option value="Lifestyle">Lifestyle</option>
      <option value="Gaming">Gaming</option>
      <option value="Finance and Investing">Finance and Investing</option>
      <option value="Entertainment and Pop Culture">
        Entertainment and Pop Culture
      </option>
      <option value="Tech">Tech</option>
      <option value="Fashion and Beauty">Fashion and Beauty</option>
      <option value="Fitness and Wellness">Fitness and Wellness</option>
      <option value="Travel">Travel</option>
    </select>
  </div>

  <div class="form-field-wrapper">
    <label for="c_start_date">Campaign Start Date</label>
    <input type="date" id="c_start_date" name="c_start_date" />
  </div>

  <div class="form-field-wrapper">
    <label for="c_end_date">Campaign End Date</label>
    <input type="date" id="c_end_date" name="c_end_date" />
  </div>

  <div class="button-wrapper">
    <button type="submit">Create</button>
  </div>
</form>

<script>
  document
    .getElementById("c_visibility")
    .addEventListener("change", function () {
      var nicheContainer = document.getElementById("niche-container");
      if (this.value === "Private") {
        nicheContainer.classList.remove("hidden");
      } else {
        nicheContainer.classList.add("hidden");
      }
    });

  document
    .getElementById("campaignForm")
    .addEventListener("submit", function (event) {
      const startDate = new Date(document.getElementById("c_start_date").value);
      const endDate = new Date(document.getElementById("c_end_date").value);

      if (startDate > endDate) {
        event.preventDefault();
        alert("End date must be after start date.");
      }
    });
</script>
{% endblock %}
